<!doctype html>
<html lang="en">
<head>
    <title>Random Page Here</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <p class="p-style">I'm putting a paragraph here to try some things. Here's a list of things to try out.</p>
    <ul>
        <li>Popcorn</li>
        <li>Cheesecake</li>
        <li>Tacos</li>
        <li>Sushi</li>
        <li>Sashimi</li>
    </ul>
    <ul>
        <li>To see more nonsense. Please <a href="page.html">Take a look at this.</a></li>
    </ul>
</body>
</html>