<!DOCTYPE html>
<html>
    <head> <!--Would anyone really take this seriously?-->
        <title>Wadu hek</title>
        <link rel="stylesheet" href="css/whatever.css">
    </head>
    <body>
        <h1>You need to learn how to say nah.</h1>
        
        <p>Here's a list of reasons as to why you need to learn how to say nah. If you have 
            any questions in regards to how to nah, please follow the link to go <a href="index.html">here</a></p>
        </p>

        <h3>Here's a quick summary on how to nah.</h3>
            <ul>
                <li>When somebody tries to sweat you for a buck fifty.</li>
                <li>When somebody wants to make sure that you don't have your a game in PUBG.</li>
                <li>When people order artichoke pizza instead of meatlovers</li>
                <li>When people think you've got no game.</li>
            </ul>

            <h3>Still confused? Good. Follow these links.</h3>

            <ol>
                <li><a href="#">Doggo</a></li>
                <li><a href="#">Never Trust Orang(e)</a></li>
                <li><a href="#">Meme Man</a></li>
                <li><a href="#">Dat Boi is a dead meme</a></li>

            </ol>
    </body>
</html>