<!DOCTYPE html>
<html>    
    <head>
        <link rel="style" href="">
        <title>Open-Source Project</title>
    </head>
    <body>
        <!--I'm adding comments here in hopes to be more organized. That and I'm adding comments just for the sake of adding comments. And to get used to adding comments.-->
        <div>
            <header id="home">
            <h1>Experience the world of Open Source Projects!</h1>
            <nav>
                <ui>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#about-us">About Us</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                </ui>
            </nav>
            </header>
            
            <main>
                <section id="about-us">
                    <h2>About this site</h2>
                    <p>We're all about helping people to understand the importance of open sourced projects.</p>
                </section>
                
                <section>
                    <h2>Latest News</h2>
                    <article>
                        <header>
                        <h3>Community Builts multi-purpose drone!</h3>
                        <p>Published By: Nerd Werd</p>
                    </header>
                        <p>A very talented group of young individuals have managed to successfully build a multi-purpose drone!</p>
                        <footer>Published: December 1st, 2017</footer>                    
                    </article>
                
                    <article id="projects">
                        <header>
                            <h3>Guy creates a jetpack. A REAL JETPACK</h3>
                            <p>Published by: Snek the Heck</p>
                        </header>
                        <p>This man wins the internet.</p>
                        <footer>Publushed: December 2nd, 2017</footer>
                    </article>
                </section>
                
                <section id="contact">
                    <h2>Contact Us</h2>
                    <p><strong>Phone:</strong> 123-234-5678</p>
                    <p><strong>Email:</strong>someone@isnthere.com</p>
                    <p><strong>Address:</strong></p>
                    <address>
                        3321 Savage Street <br>
                        Suite 232<br>
                        Bank Account Nevada 223
                    </address>
                </section>
                <footer>
                    <figure>
                        <figcaption>
                           <small> <em>"This website is made to help others"</small></em>
                        </figcaption>
                    </figure>
                    <small><em>Open-Sourced Experience. 2017</em></small>
                </footer>
            </main>
        </div>
    </body>
</html>